* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.detel {
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

.span {
    color: orange;
}

.detel p {
    color: #555;
    line-height: 22px;
    font-size: 12px;
}

.detel a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.profile-img {
    width: 80%;
    max-width: 450px;
    position: absolute;
    margin-left: 850px;
}