* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f7f6f4;
}

.wrapper {
    position: absolute;
    bottom: 30px;
    left: 40px;
    background: #18A0FB;
    max-width: 365px;
    height: 330px;
    border-radius: 15px;
    padding: 35px, 25px, 30px, 25px;
}

.wrapper .hedi {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.wrapper img {
    max-width: 90px;
}

.wrapper .content {
    margin-top: 10px;
}

.content .header {
    font-size: 25px;
    font-weight: 600;
}

.content p {
    color: #fff;
    margin: 5px 0 20px 0;
}

.buttons .item {
    margin: 0 5px;
}

.content .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    padding: 10px 20px;
    background: #fdc645;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}