body {
    background-color: #035AA6;
}

.container {
    position: initial;
    min-width: 400px;
    padding: 20px;
    width: 690px;
    height: 265px;
    background-color: #ffffff;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}

.quadro {
    width: 650px;
    height: 400px;
    background-color: #ffffff;
    overflow-y: scroll;
    color: #696969;
}

#termos {
    color: #000;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey;
    border-radius: 80px;
}

 ::-webkit-scrollbar-thumb {
    background: #696969;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #696969;
}

.cancelbtn,
.signupbtn {
    float: right;
    width: 17%;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px #999;
}

.cancelbtn {
    background-color: #808080;
    padding: 15px 5px;
    cursor: pointer;
}

.signupbtn {
    background-color: #4798d3;
    padding: 15px 5px;
    cursor: pointer;
}

.signupbtn:hover {
    background-color: #2565ae
}

.cancelbtn:hover {
    background-color: #696969
}